## Filtering the data:

The dataset I will be using: [link](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/overview)

Data Description: [link](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data)

In [1]:
import pandas as pd
import numpy as np

## Your turn...

Dataset: [link](https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows)

In [2]:
# read the dataset
df = pd.read_csv('data/train.csv')

In [3]:
# see the first few records
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [29]:
# How many movies are there?
num_movies = df.shape[0]
print("Number of movies:", num_movies)

Number of movies: 1460

In [32]:
# How many columns do we have?
num_columns = df.shape[1]
print("Number of columns:", num_columns)

Number of columns: 81

In [34]:
df.duplicated().sum()

0

In [36]:
# are there any duplicates in the Released_Year column?
df.duplicated(subset=['Released_year']).sum()

KeyError: Index(['Released_year'], dtype='object')

In [8]:
# take a look at the datatypes

In [9]:
# Convert 'Released_Year' to int


# Convert 'Gross' to float


# Now, you can check the data types of your DataFrame

In [10]:
# take a look at the record for Fight Club

In [11]:
# which are the movies released after the year 2000?

In [12]:
# which are the 2 most famouse ones? (look at the number of votes!)

In [13]:
# look at the oldest movie in this dataset. How to see the latest?

In [14]:
# group the movies based on the first actor and sort by the number of movies they have played in

In [15]:
# What are the Certificate types?

In [16]:
# Which movie descriptions have NASA in their Overview?

In [17]:
# create a function that changes "The Dark Knight" movie name to "Batman"
# in the Series_Title

def change_spelling(name):
    """
    changing name of The Dark Knight to Batman
    """



# apply the changes on Series_Title

In [18]:
# print the 'Series_Title' in df_movies to see the value has changed

### Visualization

In [19]:
import matplotlib.pyplot as plt
import seaborn as sns

### Your Turn

In [20]:
# create a column called decade that has the decade in which the house was built

In [21]:
# Using groupby(), plot the number of movies
# that have been made each decade in the history of cinema.

In [22]:
# build the correlation matrix and plot it with seaborn!
# Correlation map to see how features are correlated with SalePrice

In [23]:
# histogram

 ## Missing Values
 When handling these null values we have to divide them into three categories. [Reference](https://cjasn.asnjournals.org/content/9/7/1328.abstract)


![pic](https://github.com/mitramir55/teaching_material/blob/master/missing%20values.png?raw=true)


**Missing Completely at Random (MCAR):** This means that there is no relationship between the missing values themselves and any other feature or observation in the dataset. These are just missing randomly and without any pattern. Like when a questionnaire is lost or some parts of a survey paper are soaked and you cannot read what it's saying. Therefore we can simply ignore them.

**Missing at Random (MAR):** Means there is a pattern and relationship between the missing values and the observed values, like when the survey is about mental and physical health, male participants are less likely to know their waist circumference or boob size. We can again ignore these missing values and drop the feature or examples from our dataset. In this case we say that missing values are only related to the observed features (gender).

**Missing Not at Random (MNAR):** This is a missing value that cannot and should not be ignored. We have to model and see when were the values missing and what was the reason for it. For instance, men might not answer questions about depression because of their depression. In this case we say that the missing values are related to themselves (depression) as well as to the observed features (gender).

### Your Turn

In [24]:
# see which columns have null?

In [25]:
# drop the record that doesn't have Released_Year

In [26]:
# inspect Meta_score

In [27]:
# fill it with the mean value

In [28]:
# see if we have any null values

### Reference

* Brandon Rhodes - Pandas From The Ground Up - PyCon 2015: [link](https://www.youtube.com/watch?v=5JnMutdy6Fw&list=PL2vN4d3B5vi5gCdw4I-RAJonYAhH7k8bp&ab_channel=PyCon2015)
* Missing values – Mitra’s Kaggle Tutorial: [link](https://www.kaggle.com/code/mitramir5/missing-values-ordinal-data-and-stories)
* Crash Course Statistics: [link](https://www.youtube.com/watch?v=zouPoc49xbk&list=PL8dPuuaLjXtNM_Y-bUAhblSAdWRnmBUcr&ab_channel=CrashCourse)